<li class="modules__item" ng-repeat="module in modules">
	<div class="modules__item-thumbnail">
		<img class="modules__item-thumbnail-image" ng-src="{{ module.image }}">
	</div>

	<div class="modules__item-info">
		<div class="modules__topic topic-code">{{ module.category }}</div>
		<h3 class="modules__title nolinks">{{ module.title }}</h3>
		<time class="modules__publication-date" datetime="{{ module.updated_at }}" title="18 Apr 2013">18 Apr 2013</time>

		<button class="btn__blue btn__block" data-module-code="{{ module.code }}">Preview</button>

		<module-min-price module="module"></module-min-price>
	</div>
	
	<a 
		class="modules__item-link" 
		href="javascript:;" 
		ng-click="openPopup(module)">
	</a>
</li>