<div id="module-popup" class="white-popup mfp-with-anim">

	<header class="image-header">
		<img ng-src="{{ module.image }}">
	</header>

	<h2 class="__h2-title">{{ module.title }}</h2>

	<div class="category-small">{{ module.category }}</div>

	<h3 class="__h2">Pricing</h3>
	
	<select 
		ng-model="selectedType" 
		ng-options="type.name for type in module.types" 
	>
	</select>

	<span ng-hide="isActiveType">
		<strong>Module price is: </strong> {{ totalPrice }}
	</span>

	<span ng-show="isActiveType">
		Already installed
	</span>
{{module.installed}}
	<btn-progress 
		ng-class="{__error: module.installed, " 
		progress="0" 
		ng-click="download($event, module);" 
		class="btn__blue btn__block" 
	></btn-progress>

</div>