<div id="module-popup" class="white-popup mfp-with-anim">

	<header class="image-header">
		<img ng-src="{{ module.image }}">
	</header>

	<!-- Module info -->
	<h2 class="__h2-title">{{ module.title }}</h2>
	<div class="category-small">{{ module.category }}</div>

	<!-- Pricing sections -->
	<h3 class="__h2">Pricing</h3>
	
	<select 
		ng-model="selectedType" 
		ng-options="type.name for type in module.types" 
	>
	</select>

	<span ng-if="isActiveType && !isTrialKey">
		Active!
	</span>

	<span ng-if="isActiveType && isTrialKey">
		Active! (trial version)
	</span>

	<span ng-if="!isActiveType || isActiveType && isTrialKey">
		<strong>Module price is: </strong> {{ totalPrice }}
	</span>

	<!-- Buy it now buttons -->
	<button 
		ng-if="!module.purchased && !isActiveType && !isTrialKey" 
		class="btn__blue" 
		ng-click="purchase($event)" 
	>Buy it now!</button>

	<button 
		ng-if="module.purchased && !isActiveType && !isTrialKey" 
		class="btn__blue" 
		ng-click="purchase($event)" 
	>Upgrade!</button>

	<!-- Download / remove button -->
	<btn-progress 
		ng-class="{__error: module.installed, " 
		progress="0" 
		ng-click="action($event);" 
		class="btn__blue btn__block" 
		module="module"
	></btn-progress>

</div>